/* General Section */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: ‘Whitney’, sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
/* /General Section */


header {
    background-image: url(../img/jumbo.png);
    width: 100%;
    /* height: 500px; */
    background-size: cover;
}

nav {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    height: 60px;
    line-height: 60px;
}

.float {
    float: left;
    height: 100%;
}

nav .float:first-child,
nav .float:last-child {
    width: 25%;
}

nav .float:nth-child(2) {
    width: 50%;
}

.logo {
    max-width: 100%;
    vertical-align: middle;
}

.nav-menu,
.footer-menu {
    list-style-type: none;
}

.nav-menu li {
    display: inline-block;
    margin-right: 1em;
}

.navbar a,
.footer-menu a {
    color: white;
    text-decoration: none;
}

.navbar a {
     font-weight: bold;

}

.navbar a:hover,
.navbar a:active,
.navbar a:focus {
    text-decoration: underline;
}

.footer-menu a:hover,
.footer-menu a:active,
.footer-menu a:focus, {
    text-decoration: underline;

}

.footer-menu {
    line-height: 2em;
}


.nav-menu li:last-child {
    margin-right: 0;
}

a.btn {
    display: inline-block;
    background-color: white;
    border-radius: 2em;
    padding: 1px 14px;
    line-height: 2em;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

a.btn:hover {
    color: #265ee8;
}

/* jumbo */
.jumbo-text {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 10em 0;
    color: white;
}

.jumbo-title {
    margin-bottom: 1.1em;
}

.jumbo-desc {
    line-height: 1.7em;
    margin-bottom: 1.1em;
}

a.btn.big{
    padding: 7px 23px;
}

a.btn.dark{
    background-color: #23272a;
    color: white;
}


a.btn.dark:hover,
a.btn.dark:active,
a.btn.dark:focus {
    color: #265ee8;
}

/* main */

main {
    width: 100%;
}

.row {
    width: 70%;
    margin: 0 auto;
    padding: 10em 0;
    text-align: center;
    
}


.gray {
    background-color: #f6f6f6;
}

.col60 {
    width: 60%;
    /* padding: 0.5em; */
}

.col40 {
    width: 40%;
    padding: 1.5em;
}

.dim-img {
    width: 100%;
}

.font-size {
   font-size: 3em;
}

p {
    margin-top: 1em;
}

.txt-center {
    text-align: center;
}

.star {
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: repeat;
    display: inline-block;
    margin: 0 auto;
    padding: 1em 0;
}

.text-star {
    font-size: 2em;
}

#light,
#discord-bottom {
    background-color: cornflowerblue;
}

.bottom-btn {
    margin-top: 3em;
    padding-bottom: 3em;
}

footer{
    background-color: black;
    padding: 5em 0;
}

.container-footer {
    width: 80%;
    margin: 0 auto;
    color: white;
}

.container-footer.clearfix{
    padding-bottom: 2em;
    border-bottom: 2px solid #697EC7;
}

.container-footer {
    margin-top: 3em;
    position: relative;
}


.footer-col1 {
    width: 40%;
}

.footer-col2,
.footer-col3,
.footer-col4,
.footer-col5 {
    width: 15%;
}

.flag {
    width: 1em;
}

.text-footer-social {
    color: #697EC7;
    font-size: 3em;
    margin-bottom: 1em;
}

.text-footer-link  {
     color: #697EC7;
     margin-bottom: 1em;
}

#discord-bottom {
    position: absolute;
    right: 0;
    top: 0;

}



